.Board {  position: relative;  
    margin: 0 auto;  
    background-color: rgb(85, 8, 8);
    background-image: 
       linear-gradient(rgb(46, 5, 5) 1px, transparent 1px),    
       linear-gradient(90deg, rgb(12, 24, 138) 1px, transparent 1px);
}


/* Cell styling */
.Cell {
    background: #ccc;
    position: absolute;
}

.controls {
    margin-top: 20px;
}

.button {
    margin-left: 12px;
    cursor: pointer;
}